.container {
	display: flex;
	flex-direction: column;
	padding: 4px 0 0 0;
}

.label {
	font-weight: 500;
	padding: 4px 0;
}

.inputField {
	box-sizing: border-box;
	border-radius: 10px;
	border: 1px solid #202221;
	height: 35px;

	&:focus-visible {
		outline-color: #68b8ff;
	}

	padding: 0 0.5rem;
}

.errorMessage {
	color: red;
}
